@import "variable.scss";

body, html {
	line-height: 1;
	font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	background: $color-background;
	color: $color-text;
}
.slide-enter-active, .slide-leave-active {
	transition: all .3s ease-in-out;	
}
.slide-enter, .slide-leave-to {
	transform: translate3d(100%, 0, 0);
}
.slideLi-enter-active, .slideLi-leave-active {
	transition: all .3s linear;	
}
.slideLi-enter, .slideLi-leave-to {
	height: 0;
}
.fade-enter-active, .fade-leave-active {
	transition: all 0.4s linear;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}
