// 颜色定义规范
$color-background : #fff;
$color-background-d : #efeff0;
$color-highlight-background : #ddd;
$color-dialog-background : #f7eee5;
$color-theme : #ff6600;
$color-theme-d : #ffab18;
$color-sub-theme : #53ac7d;
$color-text : #000;
$color-text-d : #8d8d8d;
$color-text-l : #585858;
$color-text-ll : rgba(0, 0, 0, 0.8);

//字体定义规范
$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 22px;